@keyframes singleArticleAnim {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.articlesError {
  font-size: 32px;
  font-weight: 700;
  margin: 60px 0 0 0;
  text-align: center;
}



.embedBlock {
  width: 100%;
  height: 200px;
}

@mixin wordEllipsis($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.imageArticleContainer {
  width: 100%;
  display: flex;
  justify-content: center;

}

@keyframes skeletonArticleAnim {
  0% {
    background-color: hsl(240, 26%, 60%);
  }

  100% {
    background-color: hsl(240, 29%, 88%);
  }
}

.skeletonArticleAnimContainer {
  opacity: .7;
  background-color: var(--main-blue);
  height: 350px;
  animation: skeletonArticleAnim 1s linear infinite alternate;
}

.skeletonArticleAnimSecondContainer {
  opacity: .7;
  background-color: var(--main-blue);
  height: 800px;
  animation: skeletonArticleAnim 1s linear infinite alternate;
}

.articleContainer {
  width: 100%;
  background-color: var(--white-color);
  margin-bottom: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  .fullArticle {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      border-radius: 20px;
      max-height: 500px;
      object-fit: cover;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .imageArticle {
      max-height: 450px;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    * {
      font-size: 20px;
    }

    p {
      font-weight: 500;
    }

    ol,
    ul {
      padding: 20px;
    }

    li {
      padding-left: 10px;
    }
  }

  .articleInfo {
    background-color: var(--main-blue);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 350px;
    position: relative;
    animation: singleArticleAnim 0.6s ease-in;

    .articleMoreInfo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .articleTitle {
        color: var(--white-color);
        letter-spacing: 1px;
        font-size: 40px;
        @include wordEllipsis(700px);
      }

      .articleTagName {

        margin-top: 40px;
        color: var(--white-color);
        background-color: rgba(0, 0, 0, 0.25);
        padding: 10px;
        font-size: 14px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .articleImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      filter: brightness(55%)
    }
  }
}

@mixin flexContainer($sizegap) {
  display: flex;
  gap: $sizegap;
  align-items: center;
}

@mixin sizeOfIcon($width, $height) {
  width: $width;
  height: $height;
}


%activeBackground {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 6px;
}

.articleOtherInfo {
  background-color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  padding: 20px 50px;
  box-sizing: border-box;

  .countInfoContainer {
    @include flexContainer(70px);

    .articleViews {
      @include flexContainer(20px);

      .articleViewsCount {
        font-weight: 600;
        @include wordEllipsis(50px)
      }
    }

    .articleRateInfo {
      @include flexContainer(30px);

      .articleLikesContainer,
      .articleDisLikesContainer {
        @include flexContainer(20px);
        transition: all 0.14s;
      }


      .articleLikesContainer:active,
      .articleDisLikesContainer:active {
        @extend %activeBackground
      }

    }
  }
}

.articleLikesTitle,
.articleDisLikesTitle {
  font-size: 22px;
  font-weight: 700;
  @include wordEllipsis(60px)
}

.articleLikes,
.articleDisLikes {
  @include sizeOfIcon(40px, 40px);
  cursor: pointer;
}

.articleDisLikes {
  transform: rotate(180deg)
}

.articleAvatarContainer {
  @include flexContainer(30px);

  .articleAuthorIcon {
    @include sizeOfIcon(60px, 60px);
    border-radius: 50%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .articleAuthor {
    font-size: 24px;
    font-weight: 700;
    @include wordEllipsis(150px)
  }

}

.eyeIcon {
  @include sizeOfIcon(40px, 40px);
  object-fit: contain;
}

.addNewComment {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  animation: commentAnim 0.5s ease-in;

  .submitComment {
    padding: 15px;
    font-size: 18px;
    border: none;
    align-self: flex-end;
    border-radius: 15px;
    background-color: var(--main-blue);
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .submitComment:disabled {
    background-color: rgb(160, 163, 162);
    cursor: default;
  }

  .textareaComment {
    background-color: var(--white-color);
    width: 98%;
    min-height: 80px;
    max-height: 300px;
    outline: none;
    resize: none;
    // padding: 0 20px;
    margin: 20px 0;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
  }

  .textareaComment::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-blue);
    border-radius: 5px;
  }

  .textareaComment::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9c9c9c;
  }
}


.commentsContent {
  margin: 30px 0;

}

.commentsList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .commentsTitle {
    font-size: 24px;
  }
}

// CommentInfo
.commentInfo {
  justify-content: space-between;
  font-size: 18px;
  background-color: var(--main-blue);
  color: var(--white-color);
  padding: 15px 40px;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.commentOtherInfo {
  gap: 50px;
}


.commentInfo,
.userInfo,
.commentOtherInfo,
.commentRate,
.commentViews,
.commentLikesRate,
.commentLikes,
.commentDisLikes {
  display: flex;
  align-items: center;
}

.commentViews {
  gap: 10px;

  .commentViewsIcon {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }

  .commentViewsCount {
    @include wordEllipsis(50px);
  }
}

.userInfo {
  gap: 15px;
  font-weight: 500;
}

.commentRate {
  gap: 80px;

  .commentLikesRate {
    gap: 30px;
  }

  .commentLikes,
  .commentDisLikes {
    gap: 8px;
    transition: all 0.15s;
  }

  .commentLikes:active,
  .commentDisLikes:active {
    @extend %activeBackground;
  }
}

.commentDescription {
  background-color: var(--white-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  font-size: 18px;
  word-wrap: break-word;
}

.commentLikesIcon {
  cursor: pointer;
}

.commentDislikesIcon {
  transform: rotate(180deg);
  cursor: pointer;
}

.commentLikesCount,
.commentDislikesCount {
  @include wordEllipsis(50px);
}

.createdAt,
.userInfo__username {
  @include wordEllipsis(200px);
}

.paginationList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 15px;

  .next,
  .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    height: 20px;
    border-radius: 15px;
  }

  .paginationItem,
  .paginationItemActive {
    padding: 15px;
    background-color: var(--main-blue);
    color: var(--white-color);
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
  }

  .paginationItemActive {
    background-color: rgba(39, 39, 39, 0.158);
    color: var(--dark-color)
  }

}

.noComments {
  margin: 30px 0 80px 0;
  font-size: 24px;
}

.commentContainer {
  animation: commentAnim 0.5s ease-in;
}

@keyframes commentAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.deleteComment {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .hiddenWindow {
    position: absolute;
    bottom: 40px;
    right: -20px;
    background-color: rgb(216, 134, 134);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    .deleteMessage {
      text-align: center;
    }

    .deleteMessageBtns {
      display: flex;
      gap: 15px;

      .delete,
      .cancel {
        padding: 10px 15px;
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

      }

      .delete {

        background-color: rgb(145, 56, 56)
      }

      .cancel {
        background-color: rgb(60, 102, 156)
      }

    }
  }

  .commentDeleteIcon {
    @include sizeOfIcon(40px, 40px);
  }
}

.favIcon,
.favIconActive {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.15s;
}

.favIcon:active,
.favIconActive:active {
  @extend %activeBackground;
}


.editButtons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 40px 0;

  .deleteNotConfirmedArticle,
  .addNotConfirmedArticle {
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--white-color);
    cursor: pointer;
  }

  .addNotConfirmedArticle {
    background-color: var(--main-blue);
    cursor: pointer;
  }

  .deleteNotConfirmedArticle {
    background-color: rgb(180, 43, 43);
  }
}

@mixin paginationMixin($marginY, $gapList, $paddingNextPrev, $fontsizeNextPrev, $heightNextPrev, $brNextPrev,
  $paddingItem, $fontSizeItem, $brItem) {
  .paginationList {
    margin: #{$marginY}px 0;
    gap: #{$gapList}px;

    .next,
    .prev {
      padding: #{$paddingNextPrev}px;
      font-size: #{$fontsizeNextPrev}px;
      height: #{$heightNextPrev}px;
      border-radius: #{$brNextPrev}px;
    }

    .paginationItem,
    .paginationItemActive {
      padding: #{$paddingItem}px;
      font-size: #{$fontSizeItem}px;
      border-radius: #{$brItem}px;
    }
  }
}

@mixin singleArticlePreview($fullArticleGap, $height, $max-widthTitle, $font-sizeTitle, $font-sizeTag, $marginTopTag, $font-sizeFullArticle,
  $marginFullArticle, $imgBr, $imgHeight) {

  .articleInfo,
  .skeletonArticleAnimContainer {
    height: #{$height}px !important;

    .articleTitle {
      font-size: #{$font-sizeTitle}px !important;
      max-width: #{$max-widthTitle}px !important;
    }

    .articleTagName {

      margin-top: #{$marginTopTag}px !important;
      font-size: #{$font-sizeTag}px !important;
    }
  }

  .articleContainer {

    * {
      font-size: #{$font-sizeFullArticle}px !important;
    }

    .fullArticle {
      margin: #{$marginFullArticle}px !important;
      gap: #{$fullArticleGap}px !important;

      img {
        border-radius: #{$imgBr}px !important;
        height: #{$imgHeight}px !important;
      }

    }
  }
}

@mixin articleOtherIconsAndRateMixin($gapCountInfo, $gapRateInfo, $gapContainer,
  $sizeOfIcons, $maxWidth, $font-size) {
  .articleOtherInfo {
    .countInfoContainer {
      gap:#{$gapCountInfo}px !important;

      .articleRateInfo {
        gap: #{$gapRateInfo}px !important;

        .articleLikesContainer,
        .articleDisLikesContainer {
          gap: #{$gapContainer}px !important;

          .articleLikes,
          .articleDisLikes {
            width: #{$sizeOfIcons}px !important;
            height: #{$sizeOfIcons}px !important;

          }

          .articleLikesTitle,
          .articleDisLikesTitle {
            max-width: #{$maxWidth}px !important;
            font-size: #{$font-size}px !important;
          }
        }
      }

      .articleViews {
        gap: #{$gapContainer}px !important;

        .eyeIcon {
          width: #{$sizeOfIcons}px !important;
          height: #{$sizeOfIcons}px !important;
        }

        .articleViewsCount {
          max-width: #{$maxWidth}px !important;
          font-size: #{$font-size}px !important;
        }
      }

    }
  }

}

@mixin articleOtherInfoMixin($paddingY, $paddingX, $infoGap, $maxWidthOfAuthor, $avatarFontSize, $sizeOfIcon, $gapAvatarContainer) {
  .articleOtherInfo {
    padding: #{$paddingY}px #{$paddingX}px !important;
    gap: #{$infoGap}px !important;

    .favIcon,
    .favIconActive {
      width: #{$sizeOfIcon}px !important;
      height: #{$sizeOfIcon}px !important;
    }
  }

  .articleAvatarContainer,
  .articleAuthor {

    .articleAuthor,
    .authorTitle {
      font-size: #{$avatarFontSize}px !important;
    }

    .articleAuthor {
      max-width: #{$maxWidthOfAuthor}px
    }

    gap: #{$gapAvatarContainer}px;

    .articleAuthorIcon {
      width: #{$sizeOfIcon}px !important;
      height: #{$sizeOfIcon}px !important;
    }
  }
}

@mixin addCommentSingleArticleMixin($paddingField, $textAreaFontSize, $textAreaMarginY,
  $submitCommentFontSize, $submitCommentPadding) {
  .addNewComment {
    padding: #{$paddingField}px !important;

    .textareaComment {
      font-size: #{$textAreaFontSize}px !important;
      margin: #{$textAreaMarginY}px 0 !important;
    }

    .submitComment {
      padding: #{$submitCommentPadding}px !important;
      font-size: #{$submitCommentFontSize}px !important;
    }
  }
}

@mixin commentMixin($commentDeleteIconSize,
  $textSize, $commentRateGap, $commentOtherInfoGap, $commentInfoPaddingY, $commentInfoPaddingX, $commentInfoGap, $wordEllipsis) {
  .commentOtherInfo {
    gap: #{$commentOtherInfoGap}px !important
  }

  .commentRate {
    gap: #{$commentRateGap}px !important
  }

  .commentInfo {
    padding: #{$commentInfoPaddingY}px #{$commentInfoPaddingX}px !important;
    gap: #{$commentInfoGap}px !important;

    .userInfo__username {
      font-size: #{$textSize}px !important;
      @include wordEllipsis(#{$wordEllipsis}px !important);
    }

    .commentDeleteIcon {
      width: #{$commentDeleteIconSize}px !important;
      height: #{$commentDeleteIconSize}px !important;
    }

    .createdAt,
    .commentDelete {
      font-size: #{$textSize}px !important;
      @include wordEllipsis(#{$wordEllipsis}px !important);
    }
  }
}

@mixin commentSizeOfIcons($viewsGap, $commentIconSize, $rateGap, $max-widthCount, $count-font-size) {

  .commentViews {
    gap: #{$viewsGap}px !important
  }

  .commentLikesIcon,
  .commentDislikesIcon,
  .commentViewsIcon {
    width: #{$commentIconSize}px !important;
    height: #{$commentIconSize}px !important;
  }

  .commentLikesCount,
  .commentDislikesCount,
  .commentViewsCount {
    font-size: #{$count-font-size}px !important;
    max-width: #{$max-widthCount}px !important;
  }

  .commentLikesRate {
    gap: #{$rateGap}px !important
  }
}

@mixin deleteModals($font-sizeText, $paddingWindow,
  $gapWindow, $gapMessageButtons, $paddingY, $paddingX) {
  .hiddenWindow {
    font-size: #{$font-sizeText}px !important;
    padding: #{$paddingWindow}px !important;
    gap: #{$gapWindow}px !important;


    .deleteMessageBtns {
      gap: #{$gapMessageButtons}px !important;

      .delete,
      .cancel {
        font-size: #{$font-sizeText}px !important;
        padding: #{$paddingY}px #{$paddingX}px !important;
      }
    }
  }
}




@media screen and (max-width: 319px) {
  .authorTitle {
    display: none !important;
  }

  @include paginationMixin(6, 5, 5, 10, 10, 10, 8, 10, 10);
  @include singleArticlePreview(10, 250, 200, 20, 12, 25, 10, 20, 10, 150);
  @include articleOtherInfoMixin(8, 10, 2, 45, 12, 25, 8);
  @include articleOtherIconsAndRateMixin(10, 8, 4, 12, 12, 12);
  @include addCommentSingleArticleMixin(10, 12, 10, 11, 12);
  @include commentMixin(30, 12, 10, 10, 6, 15, 10, 60);

  @include deleteModals(12, 8, 8, 8, 5, 8);

  .commentViews {
    display: none !important;
  }

  .userInfo__username {
    display: none !important;
  }

  .commentDelete {
    display: none
  }

  @include commentSizeOfIcons(5, 15, 10, 30, 15);

  .commentDescription {
    padding: 10px !important;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .authorTitle {
    display: none !important;
  }

  @include paginationMixin(6, 10, 8, 12, 10, 10, 10, 12, 10);
  @include singleArticlePreview(15, 280, 250, 24, 12, 25, 12, 20, 10, 200);
  @include articleOtherInfoMixin(10, 10, 10, 45, 12, 30, 12);
  @include articleOtherIconsAndRateMixin(15, 15, 4, 16, 15, 14);
  @include addCommentSingleArticleMixin(10, 14, 10, 11, 14);
  @include commentMixin(30, 12, 15, 10, 6, 15, 10, 45);
  @include commentSizeOfIcons(5, 15, 15, 30, 15);
  @include deleteModals(12, 6, 8, 8, 5, 8);

  .commentDelete {
    display: none
  }

  .userInfo__username {
    display: none !important;
  }

  .commentDescription {
    padding: 10px !important;
    font-size: 14px !important;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  @include paginationMixin(6, 12, 10, 12, 10, 10, 12, 12, 10);
  @include singleArticlePreview(20, 300, 400, 30, 14, 30, 12, 20, 20, 300);
  @include articleOtherInfoMixin(15, 30, 20, 65, 15, 30, 15);
  @include articleOtherIconsAndRateMixin(20, 15, 10, 20, 35, 16);
  @include commentMixin(30, 12, 15, 15, 6, 15, 10, 60);
  @include commentSizeOfIcons(10, 20, 15, 30, 15);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  @include articleOtherInfoMixin(20, 40, 20, 150, 20, 40, 20);
  @include articleOtherIconsAndRateMixin(30, 20, 10, 30, 40, 20);
  @include commentMixin(30, 17, 15, 20, 10, 15, 10, 200)
}